* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
}

.container {
    margin: 6.25rem auto;
    height: 88vh;
    max-width: 25rem;
    padding: 1.25rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
}

.container_image {
    height: 18.75rem;
    width: 100%;
}

.container_image img {
    max-width: 100%;
    height: auto;
    border-radius: 0.625rem;
}

.container_text {
    margin-top: 4.688rem;
    text-align: center;
}

.container_text h1 {
    font-size: 1.875rem;
    margin-bottom: 0.625rem;
    color: hsl(218, 44%, 22%);
}

.conatiner_text p {
    font-size: 1rem;
    margin-top: 1.25rem;
}

.attribution {
    margin-top: 1.25rem;
    text-align: center;
    font-size: 1rem;
    color: hsl(228, 45%, 44%);
}

/* Mobile Specific Styles */
@media (max-width: 37.5rem) {
    .container {
        height: 60vh;
        padding: 1.25rem;
    }
    
    .container_image img {
        width: 100%;
        height: auto;
    }

    .container_text h1 {
        font-size: 1.25rem;
    }
    
    .container_text p {
        font-size: 0.813rem;
    }

    .attribution {
        font-size: 0.75rem;
    }
}
