body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.Element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 25rem; /* 400px */
    height: auto; /* Let the height adjust automatically */
    max-height: 43.75rem; /* 700px */
    background-color: hsl(0, 0%, 100%);
    padding: 1.5625rem; /* 25px */
    text-align: center;
    margin: 0.625rem 0; /* 10px */
    margin-bottom: 1.25rem; /* 20px */
    border-radius: 0.625rem; /* 10px */
    overflow: auto; /* Handle overflow content */
}

.Element img {
    width: 100%;
    margin-bottom: 1.25rem; /* 20px */
    border-radius: 0.625rem; /* 10px */
}

h1 {
    font-size: 2.1875rem; /* 35px */
    color: hsl(218, 44%, 22%);
}

h2 {
    font-size: 0.9375rem; /* 15px */
    color: hsl(220, 15%, 55%);
}

/* Mobile Specific Styles */
@media (max-width: 37.5rem) { /* 600px */
    .Element {
        width: 90%; /* Ensure it fits well on smaller screens */
        padding: 1.5625rem; /* Maintain padding for mobile */
        margin: 0.625rem 0; /* Margin adjustment */
        margin-bottom: 1.25rem; /* Margin adjustment */
    }

    h1 {
        font-size: 1.25rem; /* 20px */
    }

    h2 {
        font-size: 0.625rem; /* 10px */
    }
}





